<h1>All Articles:</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title.capitalize, article_path(article) %>
      <%= ". Votes - #{article.votes}"%>
      <%= link_to "Edit", edit_article_path(article) %>
      <%= link_to upvote_path(article), method: :patch do%>
        <i class="fa fa-chevron-up"></i>
      <% end %>
      <%= link_to downvote_path(article), method: :patch do %>
        <i class="fa fa-chevron-down"></i>
      <% end %>
    </li>
  <% end %>
</ul>

